
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #555;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin: 10px 1px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border-color: #333;
    border: solid 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  
  li:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease-in-out;
  }
  